{# content_element/gallery_creator.html.twig #}

{% extends "@Contao/content_element/_base.html.twig" %}
{% use '@Contao_MarkocupicGalleryCreatorBundle/component/_album_list_view.html.twig' %}
{% use '@Contao_MarkocupicGalleryCreatorBundle/component/_album_detail_view.html.twig' %}
{% use "@Contao_MarkocupicGalleryCreatorBundle/component/_album.html.twig" %}

{% block content %}

    {% if hasBreadcrumb and showAlbumDetail %}
        <nav class="gc-breadcrumb-nav">
            {{ breadcrumb|raw }}
        </nav>
    {% endif %}

    {% if showAlbumDetail %}
        {% block album_detail_view %}
            {#
            Do your template modification
            (e.g. add css classes, replace tag names, etc.) below here:
            #}
            {{ parent() }}
        {% endblock %}
    {% endif %}

    {% if showAlbumListing %}
        {% block album_list_view %}
            {#
            Do your template modification
            (e.g. add css classes, replace tag names, etc.) below here:
            #}
            {{ parent() }}
        {% endblock %}
    {% endif %}

{% endblock %}
