<div class="clr widget">
    <fieldset id="ctrl_gcPublishAlbums" class="tl_checkbox_container">
        <legend>{{ trans.gcPublishAlbums.0 }}</legend>
        <input type="hidden" name="gcPublishAlbums" value="">
        <input type="checkbox" id="CheckAllGcPublishAlbums" class="tl_checkbox" onclick="Backend.toggleCheckboxGroup(this,'ctrl_gcPublishAlbums')"> <label for="CheckAllGcPublishAlbums" style="margin-top: 8px;color:#a6a6a6"><em>{{ trans.selectAll }}</em></label>
        <br><br>
        {{ list|raw }}
        <p class="tl_help tl_tip">{{ trans.gcPublishAlbums.1 }}</p>
    </fieldset>
</div>
