<div class="gc-element-background-view gc-flex gc-flex-justify-content-center">
    <div class="gc-element-background-view-inner">
    <img src="bundles/markocupicgallerycreator/images/be_content_element_logo.svg" class="gc-w-100">
    </div>
</div>
