<div class="widget">
    <div id="ctrl_revise_database" class="tl_checkbox_single_container">
        <input type="checkbox" name="revise_database" class="tl_checkbox" onfocus="Backend.getScrollOffset()">
        <label for="revise_database">{{ trans.albums_messages_revise_database.0 }}</label>&nbsp;
        <p class="tl_help tl_tip" title="" style="margin-top:.5rem">{{ trans.albums_messages_revise_database.1 }}</p>
    </div>
</div>
