*.clear {
    clear: both;
}
.icon_reviseDatabase {
    margin-left: 20px;
    padding: 2px 0 3px 22px;
    background: url("../images/database_gear.png") no-repeat left center;
}
.icon_image_add {
    margin-left: 20px;
    padding: 2px 0 3px 22px;
    background: url("../images/image_add.png") no-repeat left center;
}
.album_infos td {
    padding: .5rem;
}
.album_infos tr.odd > td {
    background-color: #f3f3f5;
}
div.readonly input {
    background-color: #f3f3f5;
}
#tl_gallery_creator_albums .preview_thumb li {
    height: 60px;
    width: 100px;
    margin: 0 20px 20px 0;
    overflow: hidden;
    float: left;
    background-color: #ececec;
    position:relative;
}
#tl_gallery_creator_albums .preview_thumb input {
    position: absolute;
    top: 22px;
    left: 0;
}
#tl_gallery_creator_albums .preview_thumb li img {
    height: 60px;
    max-height: 60px;
    position:absolute;
    top:0;
    left: 20px;
    width:80px;
    max-width: 80px;
}
#tl_gallery_creator_albums .preview_thumb li.checked,
#tl_gallery_creator_albums .preview_thumb li:hover
{
    background-color: rgb(235, 253, 215);
}

#previewThumbList li:hover
{
    cursor: move !important;
}

/** revise table in the backend **/
.gc_check_tables .tl_folder_top {
    position:relative;
}
.gc_check_tables .tl_status_box {
    position:relative;
    right:0;
    top:5px;
    font-size: 11px;
    color:green;
}

.gcReviseDatabase .tl_status_box {
    margin-top: 20px;
    font-size: 13px;
    color:green;
    padding-left: 20px;
}


