*.clear {
    clear: both;
}
.icon_revise_tables {
    margin-left: 20px;
    padding: 2px 0 3px 22px;
    background: url("../images/database_gear.png") no-repeat left center;
}
.icon_image_add {
    margin-left: 20px;
    padding: 2px 0 3px 22px;
    background: url("../images/image_add.png") no-repeat left center;
}
.album_infos td {
    padding: 4px;
}
.album_infos tr.odd > td {
    background-color: #cccccc;
}
div.readonly input {
    background-color: #cccccc;
}
#tl_gallery_creator_albums .preview_thumb li {
    height: 60px;
    width: 100px;
    margin: 0 20px 20px 0;
    overflow: hidden;
    float: left;
    background-color: #ececec;
    position:relative;
}
#tl_gallery_creator_albums .preview_thumb input {
    position: absolute;
    top: 22px;
    left: 0;
}
#tl_gallery_creator_albums .preview_thumb li img {
    height: 60px;
    max-height: 60px;
    position:absolute;
    top:0;
    left: 20px;
    width:80px;
    max-width: 80px;
}
#tl_gallery_creator_albums .preview_thumb li.checked,
#tl_gallery_creator_albums .preview_thumb li:hover
{
    background-color: rgb(235, 253, 215);
}

#previewThumbList li:hover
{
    cursor: move !important;
}

/** revise table in the backend **/
.gc_check_tables .tl_folder_top {
    position:relative;
}
.gc_check_tables .tl_status_box {
    position:absolute;
    left:28px;
    top:3px;
    font-size: 11px;
    color:green;
}

.gc_revise_tables .tl_status_box {
    font-size: 13px;
    color:green;
    padding-left: 20px;
}

.gc_revise_tables label[for=revise_tables]{
    font-size:13px;
    color:blue;
    line-height:13px;
    margin:3px;
}
.gc_revise_tables input[name=revise_tables]{
    height:13px;
    vertical-align:bottom;
    margin:0;
}

.gc_revise_tables .gc_message {
    min-height:100px;
}

