/* Reset Margin & Padding */
.ce_gallery_creator ul,
.ce_gallery_creator ul.list_view > li,
.ce_gallery_creator ul.detail_view > li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* General Settings */
.ce_gallery_creator .backLink {
    display: block;
}

/* list view */
.ce_gallery_creator ul.list_view > li {
    display: flex;
}

.ce_gallery_creator ul.list_view > li > div.col_2 {
    margin-left: 2rem;
}

/* detail view */
.ce_gallery_creator ul.detail_view {
    display: flex;
    flex-wrap: wrap;
}

.ce_gallery_creator ul.detail_view > li {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.ce_gallery_creator .albumComment {
    margin-top: 1rem;
}

