/* Reset Margin & Padding */
.ce_gallery_creator ul,
.ce_gallery_creator ul.gc-list-view > li,
.ce_gallery_creator ul.gc-detail-view > li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* General Settings */
.ce_gallery_creator .backLink {
    display: block;
}

/* list view */
.ce_gallery_creator ul.gc-list-view > li {
    display: flex;
}

.ce_gallery_creator ul.gc-list-view > li > div.col_2 {
    margin-left: 2rem;
}

/* detail view */
.ce_gallery_creator ul.gc-detail-view {
    display: flex;
    flex-wrap: wrap;
}

.ce_gallery_creator ul.gc-detail-view > li {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.ce_gallery_creator ul.gc-detail-view > li > figure {
    margin: 0;
}

.ce_gallery_creator .albumCaption {
    margin-top: 1rem;
}
.ce_gallery_creator figcaption.caption {
    display: none !important;
}


