<div class="widget">
    <div id="ctrl_reviseDatabase" class="tl_checkbox_single_container">
        <input type="checkbox" name="reviseDatabase" class="tl_checkbox" onfocus="Backend.getScrollOffset()">
        <label for="reviseDatabase">{{ trans.albums_messages_reviseDatabase.0 }}</label>&nbsp;
        <p class="tl_help tl_tip" title="" style="margin-top:.5rem">{{ trans.albums_messages_reviseDatabase.1 }}</p>
    </div>
</div>
